<form action="" method="POST">
    <!-- Número de etapa -->
    <label for="etapa">Etapa</label>
    <select name="etapa">
    </select> <br />
    <!-- descripcion -->
    <label for="descripcion">Descripción</label> <br />
    <textarea name="descripcion" id="" cols="40" rows="5"></textarea><br />
    <!-- input de imagen -->
    <label for="">Seleccionar imágenes</label>
    <input type="file" name="imgagen"> <br />
    <!-- Botones -->
    <input type="submit" name="enviar" value="enviar">
    <input type="submit" name="cancelar" value="cancelar">
</form>